body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: white;
    font-family: OCR A Std, monospace; 
    background-size: cover;
}

h1 {
    font-size: 100px;
    margin: 0 0;
}

h2 {
    font-size: 40px;
}

input{
    padding: 12px 20px;
    border-radius: 50px;
    font-size: larger;
}

.push {
    background-color: #df36f5;
    color: white;
}