* {
    box-sizing: border-box;
  }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: white;
    font-family: OCR A Std, monospace; 
    margin: 0 auto;

 
}


h1 {
    font-size: 100px;
    margin: 0 0;
}

h2 {
    font-size: 40px;
}

input{
    padding: 12px 20px;
    border-radius: 50px;
    font-size: larger;
}

.push {
    background-color: #df36f5;
    color: white;
}

.url {
    font-size: 20px;
    color: white;
    background-color: #df36f5;
    border-radius: 50px;
}

.title {
    font-size: 35px;
    margin: 35px 0px 10px 0px
}

.artist {
    font-size: 25px;
    margin: 10px 0px
}

p {
    background-color: white;
    color: black;
    border-radius: 50px;
}

.helper {
    justify-content: center;
    text-align: center;
}

body {
    background-size: cover;
}

button {
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: larger;
}

/* @media only screen and (max-width: 600px) {
    p {
      font-size: x-small;
    }
  } */