* {
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: white;
    font-family: OCR A Std, monospace; 
    background-size: cover;
 
}


h1 {
    font-size: 100px;
    margin: 0 0;
}

h2 {
    font-size: 40px;
}

input{
    padding: 12px 20px;
    border-radius: 50px;
    font-size: larger;
}

.push {
    background-color: #df36f5;
    color: white;
}

.url {
    font-size: 20px;
    color: white;
    background-color: black;
}

.title {
    font-size: 35px;
    margin: 35px 0px 10px 0px
}

.artist {
    font-size: 25px;
    margin: 10px 0px
}

p {
    background-color: white;
    color: black;
}

/* .tooltip {
    max-width: 10%;
    height: auto;
} */